@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.backgroundImage{
  background:"url()";
}

.centerRight {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  height: 10vh;
  position: relative;
  left: 30%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  padding: 0 0px;
  /* margin: 10px 10px; */
  border: 2px solid black;
}

.ModalForm {
  position: absolute;
  width: 480px;
  height: 760px;
  left: 400px;
  top: 132px;

  background: #ffffff;
  border-radius: 8px;
}

.FormTextArea {
  padding: 12px 12px;
}

/* card body - dashboard */


.Dashboard_Tenant{
  position: relative;
  top: 10px;
}

.Dashboard_Margin {
  margin-top: 20 !important;
}

.Dashboard_PArentDiv {
  display: flex;
  justify-content: space-around;
}

.Dashboard_PArentDiv {
  display: flex;
  justify-content: flex-start;
}
/* TopNav */

.Dashboard_Card {
  width: 325px;
  height: 290px;

  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
}

.DBCalender_Calendar {
  position: absolute;
  width: 367px;
  height: 1222px;
  left: 184px;
  top: 288px;

  background: #ffffff;
  border-radius: 4px;
  border: black;
}